@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #1754cf;
  --color-background-light: #f6f6f8;
  --color-background-dark: #111621;
  --font-display: "Inter", sans-serif;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-background-light);
  color: #0f172a;
}