@import "tailwindcss";

@theme {
  --color-primary: #1754cf;
  --color-background-light: #f6f6f8;
  --color-background-dark: #111621;
  --font-display: "Inter", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-background-light);
  color: #0f172a;
}